* {
    font-family:Arial, Helvetica, sans-serif
}

header {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#head-high-score {
    color:blueviolet;
    display: inline;
}

#head-time {
    float: right;
    display: inline;
}

#welcome {
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 50px;
}

#start-quiz {
    background-color: purple;
    color: white;
    padding: 10px 24px;
    margin: 25px;
    border-radius: 8px;
}